*{
    background-color: aqua ;
    color:black;
}
header{
    display: flex;
    justify-content:space-around ;
}
#nav{
    display:flex
}
ul{
    display: flex;
    padding: ;
}
li{
margin: 10px 10px 10px 10px;
}
img{
    width: 200px;
    height: 300px;
    margin: 50px 50px;
    border-radius: 12px;

}
#about{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
#about>img:first-of-type:hover
opacity: 0.5;
p{
    width: 280px;
}
